<div class="container">
  <header>
    <a href="/" class="part left-part ">回到首頁</a>
    <div class="part right-part">
      <a href="/about" class="item about {{active1}}">About</a>
      <a href="/portfolio" class="item portfolio {{active2}}">Portfolio</a>
      <a href="/contact" class="item contact {{active3}}">Contact</a>
    </div>
  </header>
  <div class="title">{{title}}</div>
</div>