/* 取消預設樣式 */
a {
  text-decoration: none;
}

/* 專案樣式 */
.container {
  border: 3px solid rgb(184, 180, 180);
  padding: 2rem;
}

header, .part, .item {
  display: flex;
}

header {
  position: relative;
}

.right-part {
  position: absolute;
  right: 0;
}

.item {
  margin-left: 0.5rem;
}

/* 調按鈕樣式 */
.left-part, .item {
  width: 10rem;
  height: 3rem;
  border-radius: 10px;
  background: rgb(203, 199, 199);
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 600;
}

/* 按鈕變色 */
.active {
  background: rgb(44, 42, 42);
  color: white;
}